<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nynelyne.jsoupDemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.nynelyne.jsoupDemo.ListedCompaniesActivity"/>
        <activity android:name="com.nynelyne.jsoupDemo.BrokrageFirmsActivity" />
        <activity android:name="com.nynelyne.jsoupDemo.InvestmentForBeginnersActivity"/>
        <activity android:name="com.nynelyne.jsoupDemo.NewsHeadlinesActivity" />
        <activity android:name="com.nynelyne.jsoupDemo.DailyCommentaryActivity" />
        <activity android:name="com.nynelyne.jsoupDemo.MainActivity" />
        <activity android:name="com.nynelyne.jsoupDemo.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>